.appWrap {
    width: 96%;
    min-height: 92vh;
    margin: 4vh auto 4vh;
    border-radius: 2vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

main {
flex-grow: 1;
padding: 2vw;
}

@media (orientation: portrait) {
    .appWrap {
        width: 92%;
        min-height: 96vh;
        margin: 2vh auto 2vh;
    }
}