footer {
    text-align: center;
    background-color: var(--yellow);
    border-radius: 2vw;
    box-shadow: 0 0 3vw var(--yellow)
}

footer h3 {
    line-height: 1.8;
    letter-spacing: 3px;
    font-size: 3.5vw;
}

@media (orientation: portrait) {
    footer h3 {
        line-height: 2;
        font-size: 5.4vw;
    }
}

@media (min-width: 1024px) {
    footer h3 {
        font-size: 36px;
    }
}