* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffed10;
  --red: #e20025;
  --blue: #0060AA;
}

body {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Bangers', cursive;
}

@media (orientation: landscape) {
  body {
    background-image: url('/images/bg1.jpg');
  }
}

@media (min-width: 641px) and (orientation: landscape) {
  body {
    background-image: url('/images/bg2.jpg');
  }
}

@media (min-width: 1281px) and (orientation: landscape) {
  body {
    background-image: url('/images/bg3.jpg');
  }
}

@media (orientation: portrait) {
  body {
    background-image: url('/images/bg2vert.jpg');
  }
}
@media (min-height: 641px) and (orientation: portrait) {
  body {
    background-image: url('/images/bg3vert.jpg');
  }
}