.todo, .done {
    border-radius: 2vw;
    padding: 2vw;
    margin: 2vw 1vw;
    background-color: rgba(0,0,0,.3);
}

.todo {
    border: 3px solid var(--red);
    box-shadow: 0 0 3vw inset var(--red), 0 0 2vw black;
}

.done {
    border: 3px solid var(--yellow);
    box-shadow: 0 0 3vw inset var(--yellow), 0 0 2vw black;;
}

.todo h2, .done h3, .todo p {
    background-color: #010101;
    color: var(--yellow);
    border-radius: 2vw;
    padding: 4vw 2vw;
    margin: 2vw;
    text-align: center;
    letter-spacing: 4px;
    font-size: 5vw;
    box-shadow: 0 0 3vw #010101;
}

.todo p {
    background-color: var(--yellow);
    color: #010101;
    padding: 2vw 1vw;
    letter-spacing: 3px;
    font-size: 4vw;
    margin: 2vw auto;
    width: 80%;
    box-shadow: 0 0 3vw var(--yellow);
}

@media (orientation: portrait) {
    .todo h2, .done h3, .todo p {
        padding: 6vw 3vw;
        font-size: 6vw;
    }

    .todo p {
    padding: 4vw 2vw;
    font-size: 5vw;
    margin: 3vw auto;
    }
}

@media (min-width: 1024px) {
    .todo h2, .done h3, .todo p {
        font-size: 36px;
    }

}

@media (orientation: portrait) and (min-height: 1024px) {
    .todo h2, .done h3, .todo p {
        font-size: 5vw;
    }
}